.container {
  display: flex;
  justify-content: center; /* Keep the left and right sides horizontally centered */
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.leftSide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 60%; /* Left side takes 60% of the width */
}

.rightSide {
  display: flex;
  flex-direction: column; /* Stack the Dial/Slider and button vertically */
  justify-content: center;
  align-items: center;
  flex-basis: 40%; /* Right side takes 40% of the width */
}

.rightSide > .button {
  margin-top: 20px; /* Add spacing between the Dial/Slider and the button */
}

.outerbox {
  display: flex;
  justify-content: center; /* Center innerbox horizontally */
  align-items: center; /* Center innerbox vertically */
  height: 757px;
  width: 757px;
  z-index: 1;
  position: relative; /* To position innerbox inside it */
  background-color: lightgray; /* Added for visualization */
}

.innerbox {
  height: 300px;
  width: 300px;
  z-index: 2;
  background-color: red; /* Added for visualization */
}

.value {
  fill: white;
  font-size: 30px;
}
